* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}



.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;
    color: #555;
}

.form-group {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #ff0cf5;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 15px;
    background-color: #ff0cf5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #e00ad8;
}

.error-message {
    color: #ff3333;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

